<div class = "partial-header">

 <div class = "header-logo">
   <h1>Pote Share</h1>
 </div>

 <%= button_to="ログイン",new_user_session_path %>
 <%= button_to="新規登録",new_user_registration_path %>

</div>

