<%= render "members/shared/partial-header" %>
<%= render "members/shared/partial-messages" %>
<div class="top-main">
 
 <div class="search-area">
  <p class="search-area-title">Potepan Shareでまだ体験したことのない旅をしよう</p>
 </div>

</div>

<%= render "members/shared/partial-footer" %>