<%= render partial: "devise/shared/partial-header" %>

<div class="top-main">
 
 <div class="search-area">
  <p class="search-area-title">Potepan Shareでまだ体験したことのない旅をしよう</p>
 </div>

</div>

<%= render partial: "devise/shared/partial-footer" %>