<%= render partial: "devise/shared/partial-header" %>

<div class="rooms-posts">

 <div class="rooms-container">
 <p class="rooms-posts-title">ルーム情報登録一覧</p>

 <%= form_with model:@room do |room|%> <!-- 登録済みルーム一覧を表示する -->
 <table>
  <thead>
  <tr>
   <th>ID</th>
   <th>ルーム画像</th>
   <th>ルーム名</th>
   <th>ルーム紹介</th>
   <th>料金</th>
   <th>作成日</th>
  </tr>
  </thead>

  <tbody>
  <tr>
  <% @rooms.each do |room| %>
   <td><% room.id %></td>
   <td><% room.image %></td>
   <td><% room.name %></td>
   <td><% room.introduction %></td>
   <td><% room.price %></td>
   <td><% room.created_at %></td> 
  </tr>
  </tbody>
</table>
    
 </div>
</div>

<%= render partial: "devise/shared/partial-footer" %>