body, p{
 font-family: verdana, arial, helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

table{
 border-spacing: 30px;
 border-collapse: collapse;
 line-height: 100px;
}

th,td{
 border-top: 2px solid #BFC5CA;
}

.partial-header{
 background-color: black;
 width: 100%;
 height: 100px;
 margin-top: 0px;
 margin-bottom: 30px;
 padding: 5px;
 display: flex;
}

.header-logo{
 color: white;
 font-size: 16px;
 font-family: 'Sacramento',cursive;
}

.header-button{
 text-align: right;
 align-items: right;
}

.partial-footer{
 background-color: black;
 width: 100%;
 height: 150px;
 margin-top: 0px;
 padding: 15px;
 color: white;
 text-align: center;
 vertical-align: center;
}

.sign_up_title{
 font-weight: bold;
}

.sign_in_title{
 font-weight: bold;
}

.success_messages{
 font-weight: bold;
 background-color: #D3E173;
 padding: 1em 1em;
 margin: 1em 20em;
 border: dashed 2px #5b8bd0;
}
}

.alert_messages{
 font-weight: bold;
 background-color: #F37053;
 padding: 1em 1em;
 margin: 1em 20em;
 border: dashed 2px #F15B5B;
}

.new-member-field{
 margin: auto;
 width: 700px;
 height: 300px;
 padding-bottom: 15px;
 position: relative;
 border: solid 2px #BFC5CA;
 text-align: center;
}

#required::before {
  content: "必須";
  background-color: #ED1A3D;
  color: white;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

th::after {
  content: "必須";
  background-color: #ED1A3D;
  color: white;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

input[type="text"]{
 width: 300px;
 height: 30px;
 border-radius: 4px;
 border-color: #BFC5CA;
 background-color: #ABE1FA;
}

input[type="email"]{
 width: 300px;
 height: 30px;
 border-radius: 4px;
 border-color: #BFC5CA;
 background-color: #ABE1FA;
}

input[type="password"]{
 width: 300px;
 height: 30px;
 border-radius: 4px;
 border-color: #BFC5CA;
 background-color: #ABE1FA;
}

submit{
 background-color: #00AEEF;
}

.top-main{
 background-image:url(/assets/background_top.jpg);
 height: 700px;
 width: 100%;
 background-size: cover;
 display: flex;
}

.search-area{
 align-items: center;
 border: 2px solid white;
 background-color: white;
 border-radius: 5px;
 width: 500px;
 padding: 10px 20px;
 margin-left: 150px;
 margin-top: 200px;
 margin-bottom: 200px;
}

.search-area-title{
 font-size: 30px;
}

.sign-in-message{
 color: white;
}

.new-room{
 display: flex;
}

.new-room-form{
 align-items: center;
 padding: 10px 20px;
 border: 2px solid #BFC5CA;
 background-color :white;
 width: 800px;
 height: 650px;
 margin: 50px 100px;
 text-align: left;
}